name: 'Index Updater'
on:
  push:
    branches:
      - main
    paths:
      - 'charts/papermerge/**'
  workflow_dispatch:
    inputs:
      manualTrigger:
        description: 'Manual trigger for this workflow'
        type: boolean
        default: true
        


env:
  GH_API_TOKEN: ${{ secrets.SOME_SECRET }}

jobs:
  get-charts:
    runs-on: ubuntu-latest
    steps:
      - id: command-get-charts
        uses: actions/checkout@v3
        with:
          path: charts
          fetch-depth: 2
      - id: 'tree out command'
        run: 'tree .'

  update-index:
    runs-on: ubuntu-latest
    needs:
      - get-charts
    steps:
      - id: command-update-index
        name: 'echo command'
        run: |
          echo "update index"

  upload-artifact:
    runs-on: ubuntu-latest
    needs:
      - update-index
    steps:
      - id: command-upload
        name: 'echo command'
        run: |
          echo "uploaded"

  publish:
    runs-on: ubuntu-latest
    needs:
      - upload-artifact
    steps:
      - id: command-publish
        name: 'echo command'
        run: |
          echo "published"